* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(240, 240, 240);
}

.container {
    margin: auto;
    width: 70%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    align-items: center;
    line-height: 3em;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    color: white;
}

.head span {
    width: 260px;
    padding: 2px 5px;
    text-align: center;
    border: .3px solid rgb(117, 117, 117);
    color: rgb(225, 255, 255);
    font-weight: 600;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: white;
}

.one .oo {
    width: 260px;
    padding: 2px 5px;
    text-align: center;
    border: .3px solid rgb(117, 117, 117);
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.one .btn {
    width: 260px;
    padding: 2px 5px;
    text-align: center;
    border: .3px solid rgb(117, 117, 117);
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: red;

}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: white;
}

.two .oo {
    width: 260px;
    padding: 2px 5px;
    text-align: center;
    border: .3px solid rgb(117, 117, 117);
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.two .btn {
    width: 260px;
    padding: 2px 5px;
    text-align: center;
    border: .3px solid rgb(117, 117, 117);
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: red;

}

.footer {

    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    width: 780px;
    padding: 2px 5px;
    text-align: center;
    border: .3px solid rgb(117, 117, 117);

    font-weight: 600;
}

.edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: white;
}

.edit .ol-pro {
    width: 260px;
    height: 3em;
    text-align: left;

    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 1;
}

.edit .ol-pri {
    width: 260px;
    height: 3em;
    text-align: left;

    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 1;
}

.edit .ptn {
    width: 260px;
    padding: 2px 5px;
    text-align: center;
    border: .3px solid rgb(117, 117, 117);
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: rgb(0, 255, 0);

}
@media (max-width:320px){

    .container {
        margin: auto;
        width: 20%;
        height: 100svh;
        display: flex;
        flex-direction: column;
        margin-top: 10em;
        align-items: center;
        line-height: 1.6em;
    }
    



    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: blue;
        color: white;
    }
    
    .head span {
        width: 100px;
    }
    
 
    
    .one .oo {
        width: 100px;
    
    }
    
    .one .btn {
        width: 100px;
  
    
    }
    

    .two .oo {
        width: 100px;
     
    }
    
    .two .btn {
        width: 100px;
     
    }
    
    .footer {
        width: 120px;
    }
    

    .edit .ol-pro {
        width: 100px;
  
    }
    .edit .ol-pri {
        width: 100px;
      
    }
    
    .edit .ptn {
        width: 100px;
    }



}
@media (min-width:320px)and (max-width:400px){

    .container {
        margin: auto;
        width: 40%;
    
    }
    



    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: blue;
        color: white;
    }
    
    .head span {
        width: 200px;
    }
    
 
    
    .one .oo {
        width: 200px;
    
    }
    
    .one .btn {
        width: 200px;
  
    
    }
    

    .two .oo {
        width: 200px;
     
    }
    
    .two .btn {
        width: 200px;
     
    }
    
    .footer {
        width: 300px;
    }
    

    .edit .ol-pro {
        width: 200px;
  
    }
    .edit .ol-pri {
        width: 200px;
      
    }
    
    .edit .ptn {
        width: 200px;
    }



}
@media (min-width:400px)and (max-width:500px){

    .container {
        margin: auto;
        width: 50%;
    
    }
    



    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: blue;
        color: white;
    }
    
    .head span {
        width: 350px;
    }
    
 
    
    .one .oo {
        width: 350px;
    
    }
    
    .one .btn {
        width: 350px;
  
    
    }
    

    .two .oo {
        width: 350px;
     
    }
    
    .two .btn {
        width: 350px;
     
    }
    
    .footer {
        width: 450px;
    }
    

    .edit .ol-pro {
        width: 350px;
  
    }
    .edit .ol-pri {
        width: 350px;
      
    }
    
    .edit .ptn {
        width: 350px;
    }



}